<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer and Product Numbers</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawPredictionPlot(futurePredictions) {
        var chartData = [['Date', 'Forecast']];

        // Check if futurePredictions is an array of objects
        if (Array.isArray(futurePredictions)) {
            futurePredictions.forEach(function(prediction) {
                // Check if the prediction object has the key "Forecast"
                if (prediction) {
                    var date = new Date(prediction['Date']);
            // Format the date to 'YYYY-MM-DD'
            var formattedDate = date.toISOString().slice(0, 10);
                    chartData.push([formattedDate, prediction['Forecast']]);
                } 
            });
        }

        var data = google.visualization.arrayToDataTable(chartData);

        var options = {
            title: 'Future Predictions for Order',
            hAxis: { title: 'Date',  titleTextStyle: { color: '#01ADAF' }},
            vAxis: { title: 'Forecast', minValue: 0 },
            colors: ['#01ADAF'], // Set color for the chart
            legend: { position: 'none' }, // Hide legend if needed
        };

        var chart = new google.visualization.AreaChart(document.getElementById('predictionPlot'));
        chart.draw(data, options);
    }
    </script>
</head>

<body>
    <h1>Select Customer Number:</h1>
    <select id="customerNumber" onchange="getProducts()">
        <option value="" selected disabled>Select Customer Number</option>
        {% for customer_number in customer_numbers %}
            <option value="{{ customer_number }}">{{ customer_number }}</option>
        {% endfor %}
    </select>

    <div id="productDiv" style="display:none;">
        <h1>Select Product Number:</h1>
        <select id="productNumber">
            <option value="" selected disabled>Select Product Number</option>
            <!-- Options will be populated dynamically using JavaScript -->
        </select>
        <h1>Selected Customer Number: <span id="selectedCustomer"></span></h1>
        <h1>Selected Product Number: <span id="selectedProduct"></span></h1>
        <div id="predictionPlot" style="width: 100%; height: 500px;"></div>
    </div>

    <script>
        function getProducts() {
            var customerNumber = document.getElementById("customerNumber").value;
            var url = "/get_products/" + customerNumber;
    
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    console.log("Product data received:", data);
                    var productNumbers = data.product_numbers;
                    var select = document.getElementById("productNumber");
                    select.innerHTML = ""; // Clear existing options
                    // Add default option
                    var defaultOption = document.createElement("option");
                    defaultOption.value = "";
                    defaultOption.text = "Select Product Number";
                    defaultOption.disabled = true;
                    defaultOption.selected = true;
                    select.appendChild(defaultOption);
                    // Add options for each product number
                    productNumbers.forEach(function (productNumber) {
                        var option = document.createElement("option");
                        option.text = productNumber;
                        option.value = productNumber;
                        select.appendChild(option);
                    });
                })
                .catch(error => console.error("Error fetching product data:", error));
    
            // Show the product number select box
            document.getElementById("productDiv").style.display = "block";
            // Update the displayed customer number
            document.getElementById("selectedCustomer").innerText = customerNumber;
            // Clear the displayed product number when customer changes
            document.getElementById("selectedProduct").innerText = "";
    
            // Reset prediction plot
            document.getElementById("predictionPlot").innerHTML = "";
        }
    
        // Function to update displayed product number when selected
        document.getElementById("productNumber").addEventListener("change", function () {
            var selectedProduct = document.getElementById("productNumber").value;
            document.getElementById("selectedProduct").innerText = selectedProduct;
    
            // Send selected customer number and product number to Flask route
            var customerNumber = document.getElementById("customerNumber").value;
            var url = "/selected_values/" + customerNumber + "/" + selectedProduct;
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    console.log("Future predictions data received:", data);
                    drawPredictionPlot(data.future_predictions);
                })
                .catch(error => console.error("Error fetching future predictions data:", error));
        });
    </script>
    
</body>
</html>
